SEJM_BASE_URL=https://www.sejm.gov.pl/Sejm10.nsf
WHISPER_MODEL_SIZE=large-v3
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
AUDIO_SAMPLE_RATE=16000
MIN_SEGMENT_SECONDS=2.0
MAX_SEGMENT_SECONDS=30.0
OUTPUT_DIR=./datasets
